= render partial: 'shared/side_nav', locals: {title: "អ្នកប្រើប្រាស់ឈ្មោះ #{@user.full_name}"}
.container
  .row
    .col-md-10
      .tab{:role => "tabpanel"}
        = render 'shared/tab_header'

        .tab-content.tabs
          #Section1.tab-pane.fade.in.active{:role => "tabpanel"}
            = render 'shared/show_user_profile', {:active => false}
