%ul.nav.nav-tabs{:role => "tablist"}
  %li{:role => "presentation", class: params[:controller] == 'users' ? 'active' : ''}
    %a{"aria-controls" => "home", :href => user_path(@user), :role => "tab"} ប្រវត្តិរូបសង្ខេប
    / %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#Section1", :role => "tab"} ប្រវត្តិរូបសង្ខេប
  %li{:role => "presentation", class: params[:controller] == 'games' ? 'active' : ''}
    %a{"aria-controls" => "profile", :href => user_games_path(@user), :role => "tab"} ការធ្វើតេស្តវាយតម្លៃមុខរបរនិងអាជីព
    / %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#Section2", :role => "tab"} លទ្ធផលធ្វើតេស្ត

  %li{:role => "presentation", class: params[:controller] == 'personality_tests' ? 'active' : ''}
    %a{"aria-controls" => "profile", :href => user_personality_tests_path(@user), :role => "tab"} ការធ្វើតេស្តអំពីបុគ្គលិកលក្ខណៈ
