#mySidenav.sidenav
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  = link_to('Logout', destroy_account_session_path, method: :delete)

.toolbar
  %span{:onclick => "openNav()", :style => "font-size:20px;cursor:pointer"} ☰  ត្រីវិស័យ

:javascript
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
