#modal-school.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        .header-wrapper
          %h5#exampleModalLabel.modal-title.header-title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .cate
          %span.glyphicon.glyphicon-equalizer.text-primary
          %span.category
      .modal-body
        .shadow-box.communications
          .content-box
            .title ទំនាក់ទំនង
            .address
            .phone_numbers
            .faxes
            .emails
            .mailbox
            .website_or_facebook

        .shadow-box
          .content-box
            .title ជំនាញ
            .departments-with-majors

