.toolbar
  %a{href: '/', style: 'text-decoration: none'}
    %span{:style => 'font-size:20px; color: #fff'} ←  អំពីកម្មវិធី

.main
  .card{style: 'width: 70%; margin: 0 auto;'}
    .card-body
      %h5.card-title.center
        %strong ត្រីវិស័យ

      %p គឺជាកម្មវិធីទូរស័ព្ទមួយដែលអនុញ្ញាតឱ្យសិស្សថ្នាក់ទី 9 ដល់ ទី12 អាចធ្វើការស្វែងយល់អំពីខ្លួនឯង បង្កើនជំនាញទន់ និងជំនាញរឹង ហើយគេអាចប្រើប្រាស់វាដើម្បី កំណត់ទិសដៅអាជីពរបស់ពួកគេ។

      %p
        កម្មវិធី ត្រីវិស័យ ត្រូវបានបង្កើតឡើងដោយអង្គការ KAPE សហការជាមួយនឹងអង្គការ InSTEDD iLab Southeast Asia ដោយទទួលបានមូលនិធិគាំទ្រពី SPIDER។

      %p.center.paragraph
        %strong អំពី អង្គការសកម្មភាពសម្រាប់បឋមសិក្សានៅកម្ពុជា

      %p
        (ហៅកាត់ថា ខេប) គឺជាអង្គការក្រៅរដ្ឋាភិបាលក្នុងស្រុកដែលមានទីតាំងក្នុងខេត្តកំពង់ចាម កំពុងអនុវត្តកម្មវិធីក្នុងខេត្តចំនួន ១២។ ស្ថាប័ន មានជំនាញ និងធ្វើការចម្បងក្នុងការអភិវឌ្ឍន៍វិស័យអប់រំក្នុងប្រព័ន្ធ កម្រិតបឋមសិក្សា និងអនុវិទ្យាល័យ។

      %p
        បច្ចុប្បន្ននេះ ស្ថាប័នផ្តល់ការគាំទ្រ ដល់សាលាបឋមសិក្សា និងអនុវិទ្យាល័យ ប្រហែលជាង ២០០សាលា ដើម្បីពង្រឹងគុណភាពអប់រំ និងផ្តល់ភាពងាយស្រួលចូលសាលារៀន។ គម្រោងជាច្រើនរបស់ស្ថាប័ន រួមមាន៖ អំនានថ្នាក់ដំបូង ការគាំទ្រកម្មវិធីសាលារៀនកុមារមេត្រី កម្មវិធីអាហារូបករណ៍ បច្ចេកវិទ្យាក្នុងវិស័យអប់រំ កម្មវិធីសម្រាប់អប់រំកុមារជនជាតិ និង សមភាពយេនឌ័រជាដើម។

      %p
        សម្រាប់ព័ត៌មានលម្អិត៖
        %a{href: 'http://www.kapekh.org/', target: '_blank'} ចូលទៅកាន់គេហទំព័រ។

      %p.center.paragraph
        %strong អំពី អង្គការ InSTEDD iLab Southeast Asia

      %p
        គឺជាអង្គការក្រៅរដ្ឋាភិបាលអន្តរជាតិ ដែលមានទីតាំងនៅរាជធានីភ្នំពេញ ផ្តោតសំខាន់លើសុខមាលភាពរបស់ប្រជាពលរដ្ឋ និង ការអភិវឌ្ឍន៍បែបនិរន្តរភាព តាមរយៈការប្រើប្រាស់បច្ចេកវិទ្យាទំនើប។ អង្គការនេះត្រូវបានបង្កើតឡើងក្នុងឆ្នាំ២០០៨ ដោយមានទីតាំងនៅ សហរដ្ឋអាមេរិក ប្រទេសអាសង់ទីន និង ប្រទេសកម្ពុជា។ កន្លងមកអង្គការបានធ្វើការសហការជាមួយក្រសួងសុខាភិបាល ក្រសួងអប់រំ និង អង្គការក្រៅរដ្ឋាភិបាលមួយចំនួនក្នុងការបញ្ជ្រាបបច្ចេកវិទ្យាទំនើបចូលទៅក្នុងគម្រោងដែលពួកគេកំពុងតែធ្វើកិច្ចប្រតិបត្តិការណ៍។

      %p
        សម្រាប់ព័ត៌មានលម្អិត៖
        %a{href: 'http://ilabsoutheastasia.org/', target: '_blank'} ចូលទៅកាន់គេហទំព័រ។
