= render 'shared/side_nav'
.container
  %br
  %form.form-horizontal{"accept-charset" =>"UTF-8", "action" => "/accounts", "method" => "post"}
    %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => "#{form_authenticity_token}"}
    %hiddent
    %fieldset
      / Form Name
      %legend ចុះឈ្មោះគណនេយ្យថ្មី
      / Text input
      .form-group
        %label.col-md-4.control-label{:for => "Nome"} សារអេឡិចត្រូនិច
        .col-md-4
          %input#Nome.form-control.input-md{:name => "account[email]", :placeholder => "", :type => "email"}/
      / Text input
      .form-group
        %label.col-md-4.control-label{:for => "Cognome"} លេខសំងាត់
        .col-md-4
          %input#Cognome.form-control.input-md{:name => "account[password]", :placeholder => "", :type => "password"}/
      / Text input
      .form-group
        %label.col-md-4.control-label{:for => "indirizzo"} បញ្ជាក់លេខសំងាត់
        .col-md-4
          %input#indirizzo.form-control.input-md{:name => "account[password_confirmation]", :placeholder => "", :type => "password"}/
      .form-group
        %label.col-md-4.control-label{:for => "Citta"} តួនាទី
        .col-md-4
          %select.col-md-4.form-control{:title => "តួនាទី", :name => "account[role]"}
            - Account::ROLE.each do |role|
              %option
                = role
      .form-group
        %label.col-md-4.control-label{:for => "Citta"} សាលា
        .col-md-4
          %select.col-md-4.form-control{:title => "សាលា", :name => "account[schools]"}
            - User.get_all_schools.each do |school|
              %option
                = school[:name]
      / Button
      .form-group
        %label.col-md-4.control-label{:for => "Invio"}
        .col-md-4
          %button#Invio.btn.btn-primary{:name => "Invio"} រក្សាទុក
          %a.btn.btn{:href => "/accounts"}
            ចាកចេញ
:javascript
  function openNav() {
    $("#main-row").show();
  }

  function closeNav() {
    $("#main-row").hide();
  }
      